listening-port=3478
external-ip={{ external_ip.ansible_facts.ipify_public_ip }}
fingerprint
use-auth-secret
static-auth-secret={{ lookup('password', '{{ credential_store }}/talk_secret chars=ascii_letters,digits length=32') | lower }}
realm={{ nextcloud_fqdn }}
total-quota=100
bps-capacity=0
stale-nonce
no-multicast-peers
