<VirtualHost *:{{ nextcloud_web_port }}>
    ServerName {{ nextcloud_fqdn }}
    Redirect / https://{{ nextcloud_fqdn }}:{{ nextcloud_ssl_port }}/
</VirtualHost>

<VirtualHost *:{{ nextcloud_ssl_port }}>
{% if (tls_certificate_type != 'slfsigned') or (not tls_certificate_test) %}
    Header always set Strict-Transport-Security: "max-age=15768000;includeSubdomains; preload"
{% endif %}
    SSLEngine on
    SSLCompression off
    # Requires Apache >= 2.4.11
	SSLSessionTickets Off

    SSLProtocol all -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite "HIGH+kEECDH+AESGCM:HIGH+kEECDH:HIGH+kEDH:HIGH:!aNULL"
{% if (ansible_os_family == 'Debian') %}
    SSLOpenSSLConfCmd Curves X25519:secp521r1:secp384r1:prime256v1
{% endif %}
    SSLHonorCipherOrder on
    
    ServerAdmin admin@{{ nextcloud_fqdn }}
    ServerName {{ nextcloud_fqdn }}

    <FilesMatch "\.php$">
        SetHandler "proxy:unix:{{ php_socket[ansible_distribution] }}|fcgi://localhost"
    </FilesMatch>
    DocumentRoot {{ nextcloud_www_dir }}
    <Directory {{ nextcloud_www_dir }}>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
    Satisfy Any
    </Directory>
{% if (ansible_os_family == 'Debian') %}
    <IfModule mod_dav.c>
    Dav off
    </IfModule>
{% endif %}
    SetEnv HOME $NCPATH
    SetEnv HTTP_HOME $NCPATH
    
    # The following lines prevent .htaccess and .htpasswd files from being
    # viewed by Web clients.
    <Files ".ht*">
    Require all denied
    </Files>
    
    # Disable HTTP TRACE method.
    TraceEnable off
    # Disable HTTP TRACK method.
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^TRACK
    RewriteRule .* - [R=405,L]
    
    # Avoid "Sabre\DAV\Exception\BadRequest: expected filesize XXXX got XXXX"
    <IfModule mod_reqtimeout.c>
    RequestReadTimeout body=0
    </IfModule>

{% if tls_certificate_type != 'selfsigned' %}
    SSLCertificateChainFile {{ tls_certificate_fullchain }}
{% endif %}
    SSLCertificateFile {{ tls_certificate_file }}
    SSLCertificateKeyFile {{ tls_certificate_key }}
{% if (ansible_os_family == 'Debian') %}
    SSLOpenSSLConfCmd DHParameters {{ tls_certificate_directory }}/dhparam.pem
{% endif %}
</VirtualHost>
