[defaults]
inventory = inventory

# set this to True to enable host key checking globally
host_key_checking = False

interpreter_python = python3

callback_enabled = ansible.posix.profile_tasks,ansible.posix.timer,ansible.posix.profile_roles 
retry_files_enabled = False

# Use the YAML callback plugin.
result_format = yaml

# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

# needed on Debian server
allow_world_readable_tmpfiles = True

collections_paths = ./.ansible/collections/ansible_collections

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o BatchMode=yes -o ForwardAgent=yes
pipelining = True
scp_if_ssh = True