#!/bin/bash

export RESTIC_REPOSITORY="{{ restic_repo.location }}"
export RESTIC_PASSWORD="{{ restic_repo.password }}"

# abort entire script if any command fails
set -e

# Make sure nextcloud is enabled when we are done
trap "sudo -u {{ web_user[nextcloud_webserver_type][ansible_facts['os_family']] }} php {{ nextcloud_www_dir }}/occ maintenance:mode --off" EXIT

# set nextcloud to maintenance mode
sudo -u {{ web_user[nextcloud_webserver_type][ansible_facts['os_family']] }} php {{ nextcloud_www_dir }}/occ maintenance:mode --on

# unlock restic to keep automatic backup going
/usr/bin/restic unlock --cleanup-cache

# create a temporary database dump
{% if nextcloud_db.type == 'mysql' %}
/usr/bin/mysqldump --single-transaction -h {{ nextcloud_db.host }} -u {{ nextcloud_db.user }} -p{{ nextcloud_db.password }} {{ nextcloud_db.name }} > /tmp/db_{{ nextcloud_db.type }}_nextcloud.sql
{% elif nextcloud_db.type == 'pgsql' %}
sudo -u postgres /usr/bin/pg_dump -c -U postgres {{ nextcloud_db.name }} > /tmp/db_{{ nextcloud_db.type }}_nextcloud.sql
{% endif %}

# backup the data dir and nextcloud
/usr/bin/restic backup {{ nextcloud_data_dir }} {{ nextcloud_www_dir }} /tmp/db_{{ nextcloud_db.type }}_nextcloud.sql

# delete the temporary database dump
rm -f /tmp/db_{{ nextcloud_db.type }}_nextcloud.sql

# turn maintenance mode off
sudo -u {{ web_user[nextcloud_webserver_type][ansible_facts['os_family']] }} php {{ nextcloud_www_dir }}/occ maintenance:mode --off

# delete trap
trap "" EXIT

# clean up backup dir
/usr/bin/restic forget --keep-daily 7 --keep-weekly 5 --keep-monthly 12 --keep-yearly 75
/usr/bin/restic prune

