[www]
user = {{ web_user[nextcloud_webserver_type][ansible_os_family] }}
group = {{ web_group[nextcloud_webserver_type][ansible_os_family] }}
listen = {{ php_socket[ansible_distribution] }}
listen.owner = {{ web_user[nextcloud_webserver_type][ansible_os_family] }}
listen.group = {{ web_group[nextcloud_webserver_type][ansible_os_family] }}
pm = dynamic
pm.max_children = 240
pm.start_servers = 20
pm.min_spare_servers = 10
pm.max_spare_servers = 20
pm.max_requests = 500
env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
