---
# tasks file for prep_nextcloud

  - name: install nextcloud
    unarchive: 
      src: "{{ next_archive }}"
      dest: /var/www
      remote_src: true
      creates: /var/www/nextcloud/occ

  - name: set permissions
    script: permissions.sh
    environment:
      FQDN:       "{{ fqdn }}"
      NC_DATADIR: "{{ nc_datadir }}"
      WEB_USER:   "{{ web_user[ansible_distribution] }}"
      WEB_GROUP:  "{{ web_group[ansible_distribution] }}"

  - name: selinux targets
    sefcontext:
      target: "{{ item }}"
      setype: httpd_sys_rw_content_t
      state: present
    with_items: 
      - '{{ nc_datadir }}(/.)?'
      - '/var/www/nextcloud/config(/.)?'
      - '/var/www/nextcloud/apps(/.)?'
      - '/var/www/nextcloud/assets(/.)?'
      - '/var/www/nextcloud/.htaccess'
      - '/var/www/nextcloud/.user.ini'
    when: ansible_os_family == "RedHat"

  - name: enable sendmail 
    seboolean:
      name: httpd_can_sendmail on
      state: yes
      persistent: yes
    when: false # ansible_os_family == "RedHat"

  - name: restorecon 
    command: restorecon -Rv '/var/www/nextcloud/'
    when: ansible_os_family == "RedHat"

  # Disable SELinux
  - selinux:
      state: permissive
      policy: targeted
    when: ansible_os_family == "RedHat"

  - name: flush all handlers to restart server
    meta: flush_handlers

  - name: start nginx
    systemd:
      name: nginx
      state: started

  - name: restart redis
    systemd:
      name: redis
      state: restarted

  - name: first setup nextcloud
    shell: |
      sudo -u {{ web_user[ansible_distribution] }} php occ  maintenance:install \
      --database {{ nc_db_type }} --database-host {{ nc_db_host }} --database-name {{ nc_db }} \
      --database-table-prefix {{ nc_db_prefix }} --database-user {{ nc_db_user }} \
      --database-pass {{ nc_db_passwd }} \
      --admin-user {{ nc_admin }} --admin-pass {{ nc_passwd }} --data-dir {{ nc_datadir }}
    args:
      chdir: /var/www/nextcloud/
      creates: /var/www/nextcloud/config/config.php
    register: setup_nc

  - debug: var=setup_nc verbosity=2
  
  - name: set nextcloud domain config.php values
    shell: sudo -u {{ web_user[ansible_distribution] }} php occ config:system:set {{ item.key }} {{ item.value }}
    args:
      chdir: /var/www/nextcloud/
    with_items: "{{ nc_config }}"

  - name: set nextcloud mail config.php values
    shell: sudo -u {{ web_user[ansible_distribution] }} php occ config:system:set {{ item.key }} {{ item.value }}
    args:
      chdir: /var/www/nextcloud/
    with_items: "{{ nc_mail_config }}"
    when: nc_configure_mail

  - name: copy defaults/config.json to /tmp 
    copy:
      src: "{{ role_path }}/defaults/config.json"
      dest: /tmp/nextcloud.config.json
      owner: "{{ web_user[ansible_distribution] }}"
      mode: 0600
      
  - name: set default config
    shell: sudo -u {{ web_user[ansible_distribution] }} php occ config:import /tmp/nextcloud.config.json
    args:
      chdir: /var/www/nextcloud/
    register: setup_nc

  - name: copy defaults/config.json to /tmp 
    file:
      name: /tmp/nextcloud.config.json
      state: absent

  - debug: var=setup_nc verbosity=2

  - name: enable cron as backup jobs
    shell: sudo -u {{ web_user[ansible_distribution] }} php occ background:cron
    args:
      chdir: /var/www/nextcloud/

  - name: upgrade nextcloud
    shell: sudo -u {{ web_user[ansible_distribution] }} php occ upgrade
    args:
      chdir: /var/www/nextcloud/

  - name: adjust app settings
    shell: sudo -u {{ web_user[ansible_distribution] }} php occ app:{{ item.key }} {{ item.value }}
    args:
      chdir: /var/www/nextcloud/
    with_items: "{{ nc_app_config }}"

  - name: nextcloud cronjob
    cron:
      name: nextcloud cronjob
      minute: '*/15'
      user: "{{ web_user[ansible_distribution] }}"
      job: "php -f /var/www/nextcloud/cron.php > /dev/null 2>&1"
  
