[nextcloud]
backend = auto
enabled = true
port = {{ nc_web_port }},{{ nc_ssl_port }}
protocol = tcp
filter = nextcloud
maxretry = 3
bantime = 36000
findtime = 36000
logpath = {{ nc_datadir }}/nextcloud.log
