[client]
default-character-set = utf8mb4

[mysqld_safe]

[mysqld]
skip-name-resolve

max_connections           = 200
# connect_timeout         = 5
# wait_timeout            = 600
# max_allowed_packet      = 16M
# thread_cache_size       = 128
# sort_buffer_size        = 4M
# bulk_insert_buffer_size = 16M
tmp_table_size            = 64M
max_heap_table_size       = 64M

# myisam_recover_options  = BACKUP
# key_buffer_size         = 128M
# open-files-limit        = 2000
# table_open_cache        = 400
# myisam_sort_buffer_size = 512M
# concurrent_insert       = 2
# read_buffer_size        = 2M
# read_rnd_buffer_size    = 1M

query_cache_limit         = 2M
# query_cache_size        = 64M
query_cache_type          = DEMAND

# query_cache_min_res_unit = 2k

# log_warnings            = 2
# slow_query_log_file     = /var/log/mysql/mariadb-slow.log
long_query_time           = 1
# log_slow_verbosity      = query_plan
# slow-query-log          = 1
# slow-query-log-file     = /var/log/mysql/slow.log
# log_bin                 = /var/log/mysql/mariadb-bin
# log_bin_index           = /var/log/mysql/mariadb-bin.index
# expire_logs_days        = 10
# max_binlog_size         = 100M

default_storage_engine         = InnoDB
innodb_buffer_pool_size        = 256M
innodb_buffer_pool_instances   = 1
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size         = 32M
innodb_max_dirty_pages_pct     = 90
innodb_large_prefix            = true
innodb_file_format             = barracuda
innodb_file_per_table          = 1
innodb_open_files              = 400
innodb_io_capacity             = 400
innodb_flush_method            = O_DIRECT

character-set-server           = utf8mb4
collation-server               = utf8mb4_general_ci
transaction_isolation          = READ-COMMITTED
binlog_format                  = ROW

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
#no-auto-rehash    # faster start of mysql but no tab completion

[isamchk]
key_buffer = 16M

