listening-port=3478
tls-listening-port=5349
fingerprint
lt-cred-mech
use-auth-secret
static-auth-secret={{ lookup('password', '{{ credential_store }}/talk_secret chars=ascii_letters,digits length=32') | lower }}
realm={{ fqdn }}
total-quota=100
bps-capacity=0
stale-nonce
cert=/etc/letsencrypt/live/{{ fqdn }}/fullchain.pem
pkey=/etc/letsencrypt/live/{{ fqdn }}/privkey.pem
cipher-list="ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!ADH:!AECDH:!MD5"
no-loopback-peers
no-multicast-peers