<VirtualHost *:{{ nextcloud_web_port }}>
    ServerName {{ nextcloud_fqdn }}
    ServerAlias {{ nextcloud_fqdn }}
    ServerAdmin admin@{{ nextcloud_fqdn }}
    DocumentRoot {{ nextcloud_www_dir }}
    ErrorLog {{ apache_log_dir[ansible_facts['os_family']] }}/{{ apache_error_log_file[ansible_facts['os_family']] }}
    CustomLog {{ apache_log_dir[ansible_facts['os_family']] }}/{{ apache_access_log_file[ansible_facts['os_family']] }} combined
    RewriteEngine on
    RewriteCond %{SERVER_NAME} ={{ nextcloud_fqdn }}
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<IfModule mod_ssl.c>
{% if (tls_certificate.type != 'selfsigned') and (not tls_certificate_test|bool) %}
    SSLUseStapling on
    SSLStaplingCache shmcb:/var/run/ocsp(128000)
{% else %}
    SSLUseStapling off
{% endif %}
    <VirtualHost *:{{ nextcloud_ssl_port }}>

        ServerAdmin admin@{{ nextcloud_fqdn }}
        ServerName {{ nextcloud_fqdn }}
        ServerAlias {{ nextcloud_fqdn }}

        SSLCertificateFile {{ tls_certificate_fullchain }}
        SSLCACertificateFile {{ tls_certificate_fullchain }}
        SSLCertificateKeyFile {{ tls_certificate_key }}

        Protocols h2 h2c http/1.1
{% if (tls_certificate.type != 'selfsigned') or (not tls_certificate_test|bool) %}
        Header add Strict-Transport-Security: "max-age=15552000;includeSubdomains"
{% endif %}
        SSLEngine on
        SSLCompression off
        SSLOptions +StrictRequire
        SSLProtocol -all +TLSv1.3 +TLSv1.2
        SSLCipherSuite ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        SSLHonorCipherOrder off
        SSLSessionTickets off
        ServerSignature off
    {% if (tls_certificate.type != 'selfsigned') and (not tls_certificate_test|bool) %}
        SSLStaplingResponderTimeout 5
        SSLStaplingReturnResponderErrors off
    {% endif %}
        SSLOpenSSLConfCmd Curves X448:secp521r1:secp384r1:prime256v1
        SSLOpenSSLConfCmd ECDHParameters secp384r1
        LogLevel warn
        CustomLog {{ apache_log_dir[ansible_facts['os_family']] }}/{{ apache_access_log_file[ansible_facts['os_family']] }} combined
        ErrorLog {{ apache_log_dir[ansible_facts['os_family']] }}/{{ apache_error_log_file[ansible_facts['os_family']] }}

        # Proxy declaration
        <Proxy "unix:{{ php_socket[ansible_facts['os_family']] }}|fcgi://localhost">
                # we must declare a parameter in here (doesn't matter which) or it'll not register the proxy ahead of time
                ProxySet disablereuse=off
        </Proxy>

        # Redirect to the proxy
        <FilesMatch \.php$>
                SetHandler proxy:unix:{{ php_socket[ansible_facts['os_family']] }}|fcgi://localhost
        </FilesMatch>

        DocumentRoot {{ nextcloud_www_dir }}
        <Directory {{ nextcloud_www_dir }}>
            Options Indexes FollowSymLinks
            AllowOverride All
            Require all granted
            Include {{ nextcloud_www_dir }}/.htaccess
            <IfModule mod_dav.c>
                Dav off
            </IfModule>
        </Directory>
        <Directory {{ nextcloud_data_dir }}>
            Require all denied
        </Directory>
        <Directory {{ nextcloud_www_dir }}/config>
            Require all denied
        </Directory>
        <Files ".ht*">
            Require all denied
        </Files>
        TraceEnable off
        RewriteEngine On
        RewriteCond %{REQUEST_METHOD} ^TRACK
        RewriteRule .* - [R=405,L]
        SetEnv HOME {{ nextcloud_www_dir }}
        SetEnv HTTP_HOME {{ nextcloud_www_dir }}
        <IfModule mod_reqtimeout.c>
            RequestReadTimeout body=0
        </IfModule>

{% if nextcloud_install.nextcloudoffice|bool %}
        # Improve security settings
        Header set X-XSS-Protection "1; mode=block"
        Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Header set X-Content-Type-Options nosniff
        Header set Content-Security-Policy "frame-ancestors 'self' {{ nextcloud_fqdn }}"

        ##########################################################################################
        # Reverse proxy for Collabora Online                                                     #
        # https://sdk.collaboraonline.com/docs/installation/Proxy_settings.html?highlight=apache #
        ##########################################################################################


        AllowEncodedSlashes NoDecode
        SSLProxyEngine On
        ProxyPreserveHost On


        # cert is issued for collaboraonline.example.com and we proxy to localhost
        SSLProxyVerify None
        SSLProxyCheckPeerCN Off
        SSLProxyCheckPeerName Off


        # static html, js, images, etc. served from coolwsd
        # browser is the client part of Collabora Online
        ProxyPass           /browser https://127.0.0.1:9980/browser retry=0
        ProxyPassReverse    /browser https://127.0.0.1:9980/browser


        # WOPI discovery URL
        ProxyPass           /hosting/discovery https://127.0.0.1:9980/hosting/discovery retry=0
        ProxyPassReverse    /hosting/discovery https://127.0.0.1:9980/hosting/discovery


        # Capabilities
        ProxyPass           /hosting/capabilities https://127.0.0.1:9980/hosting/capabilities retry=0
        ProxyPassReverse    /hosting/capabilities https://127.0.0.1:9980/hosting/capabilities

        # Main websocket
        ProxyPassMatch      "/cool/(.*)/ws$"      wss://127.0.0.1:9980/cool/$1/ws nocanon


        # Admin Console websocket
        ProxyPass           /cool/adminws wss://127.0.0.1:9980/cool/adminws


        # Download as, Fullscreen presentation and Image upload operations
        ProxyPass           /cool https://127.0.0.1:9980/cool
        ProxyPassReverse    /cool https://127.0.0.1:9980/cool
{% endif %}

{% if nextcloud_install.whiteboard|bool and (groups['whiteboard'][0] in groups.get('nextcloud', [])) %}
        ##########################################################################################
        # Reverse proxy for Whiteboard WebSocket server                                          #
        ##########################################################################################

        ProxyPass           /whiteboard/ http://127.0.0.1:3002/
        ProxyPassReverse    /whiteboard/ http://127.0.0.1:3002/

        RewriteEngine On
        RewriteCond %{HTTP:Upgrade} =websocket [NC]
        RewriteRule /whiteboard/(.*) ws://127.0.0.1:3002/$1 [P,L]
{% endif %}

{% if nextcloud_install.onlyoffice|bool and (groups['onlyoffice'][0] in groups.get('nextcloud', [])) %}
        ##########################################################################################
        # Reverse proxy for OnlyOffice Document Server                                           #
        ##########################################################################################

        SSLProxyEngine On
        SSLProxyVerify None
        SSLProxyCheckPeerCN Off
        SSLProxyCheckPeerName Off

        ProxyPass           /onlyoffice/ http://127.0.0.1:8443/
        ProxyPassReverse    /onlyoffice/ http://127.0.0.1:8443/

        RewriteEngine On
        RewriteCond %{HTTP:Upgrade} =websocket [NC]
        RewriteRule /onlyoffice/(.*) wss://127.0.0.1:8443/$1 [P,L]
{% endif %}

{% if nextcloud_install.hapr|bool %}
        # AppAPI ExApps Reverse Proxy Configuration

        ProxyPass /exapps/ http://127.0.0.1:8780/exapps/
        ProxyPassReverse /exapps/ http://127.0.0.1:8780/exapps/
{% endif %}

{% if nextcloud_install.notify_push|bool %}
        # Nextcloud Notify Push Reverse Proxy Configuration
        ProxyPass /push/ws ws://127.0.0.1:7867/ws
        ProxyPass /push/ http://127.0.0.1:7867/
        ProxyPassReverse /push/ http://127.0.0.1:7867/

{% endif %}
    </VirtualHost>

    # Avoid zero byte files
    # See https://github.com/nextcloud/server/issues/3056
    SetEnv proxy-sendcl 1

</IfModule>
